.trades {
    display: flex;
    align-items: flex-end;
    background-color: black;

    .trade_div {
        margin-right: 1px;
        justify-content: space-between;
        background-color: red;
        height: auto;
        width: 30px;

        .trade_info {
            visibility: hidden;
            position: absolute;
            margin: 0;
            background-color: rgba(255, 0, 0, 0.471);
            color: rgb(255, 255, 255);
            
        }

        &:hover {
            .trade_info{
                visibility: visible;
            }
            
        }
    }

    
}