.trades {
    display: flex;

    .trade_div {
        margin-right: 1px;
        justify-content: space-between;
        background-color: red;
        height: 100px;
        width: 10px;

        .trade_info {
            visibility: hidden;
        }

        .trade_info:hover {
            visibility: visible;
        }
    }
}